/* List */

.List {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    width: 600px;
    margin: auto;
    /* Box */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CenterList {
    gap: 20px;
    /* Box */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CenterQuestionFrame {
    gap: 20px;
    /* Box */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Center {
    /* Box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Quiz Page */

.QuestionHeader {
    font-weight: bold;
    font-size: 1.25rem;
}

.AnswerButton{
    width: 100%;
    margin: auto;
    /* Box */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Quiz List */

.QuizFrame {
    width: 100%;
    height: 100%;
    min-height: 100px;
    /* Box */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.QuizFrameBottom {
    
}

.QuizTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

.StartButtonQuiz {
    max-height: 50px;
}