/* List */

.List {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    width: 600px;
    margin: auto;
    /* Box */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CenterList {
    gap: 20px;
    /* Box */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CenterQuestionFrame {
    gap: 20px;
    /* Box */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Center {
    /* Box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Quiz Page */

.QuestionHeader {
    font-weight: bold;
    font-size: 1.25rem;
}

.AnswerButton{
    width: 100%;
    margin: auto;
    /* Box */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.QuestionAnsweredCorrect {
    border: 2px solid rgb(0, 255, 21) !important;
    background-color: rgb(172, 255, 179) !important;
}

.QuestionAnsweredWrong {
    border: 2px solid red !important;
    background-color: rgba(253, 0, 0, 0.274) !important;
}

.QuestionWrong {
    border: 2px solid red !important;
}

.QuestionsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Quiz List */

.QuizFrame {
    width: 100%;
    height: 100%;
    min-height: 100px;
    /* Box */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.QuizTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

.StartButtonQuiz {
    max-height: 50px;
}